.carousel-item {
  height: 100vh;
  background-size: cover;
  position: relative;
}

.carousel-item .carousel-caption {
  position: absolute;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  top: 300px;
}

.carousel-item .carousel-caption h2 {
  font-size: 3.7rem;
  color: white;
}

.carousel-item .carousel-caption p {
  font-size: 18px;
  letter-spacing: 1.2px;
  color: white;
  margin: 10px;
}

.carousel-item .btn-outline-secondary {
  border-color: white;
  position: relative;
  color: #DF9C00;
  border-radius: 4px;
  margin-top: -6px;
  overflow: hidden;
  padding: 12px 30px;
  margin: 20px;
}

.carousel-item .btn-outline-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, white 50%, transparent 50%);
  z-index: -1;
  background-size: 300%;
  background-position: 100%;
  -webkit-transition: 1s, font-size 0.2s;
  transition: 1s, font-size 0.2s;
}

.carousel-item .btn-outline-secondary:hover::before {
  background-position: 0;
  color: #DF9C00;
  font-size: 1.1em;
}

.carousel-item .btn-warning {
  color: #DF9C00;
  border-radius: 4px;
  margin-top: -1px;
  margin-left: 10px;
  overflow: hidden;
  padding: 10px 30px;
}

.carousel-item .btn-warning:hover {
  background-color: #DF9C00;
  border-color: #DF9C00;
  overflow: hidden;
  color: #fff;
}

.carousel-item .btn-warning::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  overflow: hidden;
  width: 2em;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.carousel-item .btn-warning:hover::before {
  overflow: hidden;
  -webkit-transform: skewX(-45deg) translateX(30em);
  transform: skewX(-45deg) translateX(30em);
}

.carousel-item .btn-warning {
  color: white;
  position: relative;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.row {
  max-width: 100%;
}

#getOff {
  color: #FFFFFF;
  background-color: #F5576C;
  padding: 1px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

#getOff p {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}

#getOff p #border {
  color: #FFFFFF;
  text-decoration: none;
  text-decoration: underline;
}

#getOff .fa-times {
  font-size: 16px;
  color: #d5b8b6;
  margin-left: 9px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#getOff .fa-times:hover {
  color: #FCD5DA;
}

#applyNow {
  overflow-x: hidden;
  max-width: 100%;
  background-color: #343A40;
  padding: 10px 0px;
}

#applyNow .info {
  display: inline-block;
  margin: 10px 190px;
}

#applyNow .info a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#applyNow .info a:hover {
  color: #DF9C00;
}

#applyNow .icons {
  display: inline-block;
}

#applyNow .icons a {
  color: #FFFFFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#applyNow .icons a:hover {
  color: #DF9C00;
}

#applyNow .btn {
  color: #DF9C00;
  border-radius: 4px;
  margin-top: -6px;
  margin-left: 10px;
  overflow: hidden;
}

#applyNow .btn:hover {
  background-color: #DF9C00;
  border-color: #DF9C00;
  overflow: hidden;
  color: #fff;
}

#applyNow .btn::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  overflow: hidden;
  width: 2em;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#applyNow .btn:hover::before {
  overflow: hidden;
  -webkit-transform: skewX(-45deg) translateX(30em);
  transform: skewX(-45deg) translateX(30em);
}

#applyNow .btn-warning {
  color: white;
  position: relative;
}

#applyNow p {
  display: inline-block;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

#applyNow p:hover {
  color: #DF9C00;
}

#applyNow #apply {
  position: relative;
  top: 10px;
  left: 257px;
}

#applyNow .fas::before {
  margin: 0px 5px;
}

#applyNow .far::before {
  margin: 0px 5px;
}

#applyNow .fab::before {
  margin: 0px 5px;
}

#eduGlobal {
  padding: 10px;
}

#eduGlobal #dropdownMenuLink {
  font-weight: 400;
  color: black;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#eduGlobal #dropdownMenuLink:hover {
  color: #DF9C00;
}

#eduGlobal .nav-link {
  display: inline-block;
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#eduGlobal .nav-link:hover {
  color: #DF9C00;
}

#eduGlobal .fa-search {
  color: black;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#eduGlobal .fa-search:hover {
  color: #DF9C00;
}

#whyChose {
  background-color: #F7F7F7;
  height: 90vh;
}

#whyChose h2 {
  font-size: 2.2rem;
  margin-top: 10%;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

#whyChose p {
  text-align: center;
  color: #999999;
}

.icon_box_style2 {
  position: relative;
  bottom: 27rem;
}

.icon_box_style2:hover {
  margin-top: 20px;
}

p {
  color: #888888;
}

.box_icon {
  border-radius: 100%;
  display: inline-block;
  padding: 20px;
  position: relative;
  background-color: #f5576c;
}

.box_icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #fff;
  border-radius: 100%;
  margin: 0px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.icon_box {
  padding: 30px;
  z-index: 9;
  margin-top: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.box_shadow2 {
  -webkit-box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
          box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
}

.box_icon.bg_default {
  background-color: #FFBC09;
}

.box_icon.bg_default_1 {
  background-color: #B3D369;
}

#mostPopular {
  text-align: center;
  position: relative;
  bottom: 17rem;
  font-family: "Rubik", sans-serif;
}

.sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.sliders .owl {
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 30px 20px;
  color: #fff;
  background-color: #f5576c;
}

.sliders .owl h4 {
  font-weight: 300;
  font-size: 15px;
}

.sliders .owl a {
  color: #fff;
  font-size: 40px;
}

.sliders .owl_1 {
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 30px 20px;
  color: #fff;
  background-color: #b3d369;
}

.sliders .owl_1 h4 {
  font-weight: 300;
  font-size: 15px;
}

.sliders .owl_1 a {
  color: #fff;
  font-size: 40px;
}

.sliders .owl_2 {
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 30px 20px;
  color: #fff;
  background-color: #FFBC09;
}

.sliders .owl_2 h4 {
  font-weight: 300;
  font-size: 15px;
}

.sliders .owl_2 a {
  color: #fff;
  font-size: 40px;
}

.sliders .owl_3 {
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 30px 20px;
  color: #fff;
  background-color: #FF69B4;
}

.sliders .owl_3 h4 {
  font-weight: 300;
  font-size: 15px;
}

.sliders .owl_3 a {
  color: #fff;
  font-size: 40px;
}

.sliders .owl_4 {
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 30px 20px;
  color: #fff;
  background-color: #36d4ed;
}

.sliders .owl_4 h4 {
  font-weight: 300;
  font-size: 15px;
}

.sliders .owl_4 a {
  color: #fff;
  font-size: 40px;
}

.sliders .owl_5 {
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 30px 20px;
  color: #fff;
  background-color: #ff9131;
}

.sliders .owl_5 h4 {
  font-weight: 300;
  font-size: 15px;
}

.sliders .owl_5 a {
  color: #fff;
  font-size: 40px;
}

.start {
  text-align: start !important;
}

.overlap_section {
  margin-right: -50px;
  position: relative;
  z-index: 2;
  border-radius: 0 200px 200px 0;
}

.box_shadow1 {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.padding_eight_all {
  position: relative;
  bottom: 9rem;
  padding: 7%;
  width: 119%;
}

.padding_eight_all ul {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.padding_eight_all ul .text_danger {
  color: #F5576C !important;
}

.padding_eight_all ul h6 {
  color: #292b2c;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}

.padding_eight_all ul .text_light_green {
  color: #B3D369 !important;
}

.padding_eight_all ul .counter_content1 {
  position: relative;
  left: 43%;
}

.padding_eight_all .heading h2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.padding_eight_all .iframe img {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 9rem;
  left: 1.8rem;
}

.overlay_bg_30 {
  width: 100%;
  height: 100%;
  position: relative;
}

.overlay_bg_30::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  bottom: 12rem;
  left: 1.8rem;
  width: 100%;
  height: 100%;
}

.overlay_bg_30 img {
  position: relative;
  bottom: 12rem;
  left: 1.8rem;
}

.ripple {
  background-color: white;
  border-radius: 100%;
  color: #FFBC09;
  z-index: 1;
  position: relative;
  display: inline-block;
  margin-right: 25px;
  line-height: 50px;
  font-size: 18px !important;
  vertical-align: middle;
  margin-left: 0;
  height: 50px;
  width: 50px;
  top: -28rem;
  left: 22rem;
  text-align: center;
}

.ripple::before {
  content: "";
  position: absolute;
  -webkit-animation: ripple 1.2s ease-out infinite;
          animation: ripple 1.2s ease-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  content: '';
  mix-blend-mode: screen;
  position: absolute;
  top: 15px;
  left: 13px;
  width: 25px;
  height: 25px;
  background: #b8beb4;
  opacity: 0;
  border-radius: 100%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes ripple {
  0%, 35% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

@keyframes ripple {
  0%, 35% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

.course {
  text-align: center;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.left .fas {
  color: #ffc601;
}

.alia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
  overflow: hidden;
}

.alia .blue {
  border: 1px solid #d1ecf1;
  background-color: #d1ecf1;
}

.alia img {
  border-radius: 50% !important;
}

.alia span {
  margin: 0;
  padding: 5px 15px;
  border: 1px solid #c3e6cb;
  background-color: #d4edda;
  text-align: right;
}

.courses {
  background-color: #FFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
  box-shadow: 0px 4px 20px rgba(101, 101, 101, 0.1);
  position: relative;
  margin: 0px;
}

.courses .img {
  overflow: hidden !important;
}

.courses h5 {
  cursor: pointer;
  margin-left: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.courses h5:hover {
  color: #FFBC0A;
}

.courses p {
  margin-left: 16px;
}

.courses img {
  border-radius: 8px;
  max-width: 98%;
  margin-left: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .7s;
  transition: all .7s;
  overflow: hidden  !important;
}

.courses img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.another {
  color: #DF9C00;
  border-radius: 4px;
  margin-top: -6px;
  margin-left: 10px;
  overflow: hidden;
  text-align: justify;
  padding: 11px 32px;
}

.another:hover {
  background-color: #DF9C00;
  border-color: #DF9C00;
  overflow: hidden;
  color: #fff;
}

.another::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  overflow: hidden;
  width: 2em;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.another:hover::before {
  overflow: hidden;
  -webkit-transform: skewX(-45deg) translateX(30em);
  transform: skewX(-45deg) translateX(30em);
}

.btn-warning {
  color: white;
  position: relative;
}

.parallax {
  background-image: url("../img/counter_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1519px !important;
  height: 527px !important;
  background-attachment: fixed !important;
  position: relative;
}

.parallax::before {
  content: "";
  position: absolute;
  width: 1519px;
  height: 527px;
  z-index: 1 !important;
  background-color: rgba(7, 41, 77, 0.7);
}

.icon {
  text-align: center;
  position: relative;
  bottom: 20rem;
  z-index: 1;
  left: 0rem;
  color: white;
}

.icon ul {
  list-style-type: none;
}

.icon ul span {
  font-size: 35px;
  font-weight: bold;
}

.icon ul .student {
  font-size: 15px;
  font: 900;
  font-family: "Roboto", sans-serif;
  color: white;
}

.icon .icon1 {
  position: relative;
  left: 16px;
}

p {
  text-align: center;
  color: #999999;
}

.jonWood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  top: -9px;
  left: 18px;
}

.jonWood span {
  margin: 0px 9px;
  color: #DF9C00;
  cursor: pointer;
  color: #ffbc0a;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.jonWood span:hover {
  color: #DF9C00;
}

.coming {
  position: relative;
  bottom: 3rem;
  text-align: center;
}

.event {
  position: relative;
  bottom: 3rem;
}

.event p {
  text-align: start;
}

.event .may {
  background-color: red;
}

.pattern .girl img {
  height: 90vh;
  background-color: #07294D;
  background-size: cover;
  background-position: center center;
  padding-bottom: 0 !important;
  z-index: -1;
  width: 100%;
}

.pattern .area {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  position: relative;
  bottom: 571px;
  height: 29rem;
  width: 36rem;
  text-align: center;
  margin: 10px 0px;
  padding: 13px;
}

.pattern .area h2 {
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-right: 111px;
}

.pattern .area h2 .color {
  color: #FEBB09;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.pattern .area .color_1 {
  color: white;
  text-align: start;
  width: 28rem;
  margin-left: 34px;
  font: 500;
}

.pattern .area .form-row {
  margin: 23px 31px;
}

.pattern .area .form-row .form-control {
  background-color: #203f5f;
  color: white;
}

.pattern .area .form-row ::-webkit-input-placeholder {
  color: white;
}

.pattern .area .form-row :-ms-input-placeholder {
  color: white;
}

.pattern .area .form-row ::-ms-input-placeholder {
  color: white;
}

.pattern .area .form-row ::placeholder {
  color: white;
}

.pattern .area .form-row .select {
  position: relative;
  bottom: 4px;
  width: 204px;
}

.pattern .area .form-row .select option {
  background: white;
}

.pattern .area .text {
  background-color: #203f5f;
  color: white;
  width: 425px;
  margin-left: 20px;
}

.pattern .area .another_1 {
  color: #DF9C00;
  border-radius: 4px;
  margin-top: -6px;
  margin: 2px;
  margin-right: 21rem;
  margin-left: 10px;
  overflow: hidden;
  text-align: justify;
  padding: 11px 32px;
}

.pattern .area .another_1:hover {
  background-color: #DF9C00;
  border-color: #DF9C00;
  overflow: hidden;
  color: #fff;
}

.pattern .area .another_1::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  overflow: hidden;
  width: 2em;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.pattern .area .another_1:hover::before {
  overflow: hidden;
  -webkit-transform: skewX(-45deg) translateX(30em);
  transform: skewX(-45deg) translateX(30em);
}

.pattern .area .btn-warning {
  color: white;
  position: relative;
}

.girl_1 img {
  position: relative;
  bottom: 635px;
}

.form-group ::-webkit-input-placeholder {
  color: white;
}

.form-group :-ms-input-placeholder {
  color: white;
}

.form-group ::-ms-input-placeholder {
  color: white;
}

.form-group ::placeholder {
  color: white;
}

.gallery_1 {
  position: relative;
  bottom: 32rem;
  text-align: center;
}

.container {
  width: 90%;
  margin: 10px auto;
}

.container .portfolio-menu {
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  bottom: 30rem;
}

.container .portfolio-menu ul li {
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 10px 15px;
  border: 1px solid #EEEEEE;
  color: black;
  cursor: pointer;
  font: 600;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.container .portfolio-menu ul li:hover {
  background: #FFBC0A;
  color: white;
}

.container .portfolio-menu .active {
  background: #FFBC0A;
  color: white;
}

.portfolio-item {
  width: 100%;
  position: relative;
  bottom: 28rem;
  left: 3rem;
  padding: 10px;
}

.portfolio-item .item {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.portfolio-item .item img {
  border-radius: 15px;
}

body {
  height: 9000px;
}

#our-teachers {
  margin-top: 100px;
  padding: 100px 0;
  width: 100%;
  height: 700px;
  background-image: url("https://bestwebcreator.com/eduglobal/demo/assets/images/teacher_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  bottom: 30rem;
  background-position: center center;
  position: relative;
}

#our-teachers:before {
  content: '';
  position: absolute;
  background-color: rgba(7, 41, 77, 0.9);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#our-teachers .title {
  color: white;
  padding-bottom: 25px;
}

#our-teachers .title p {
  color: white;
}

#our-teachers .card {
  width: 260px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

#our-teachers .card .card-img-top {
  height: 255px;
  overflow: hidden;
  position: relative;
}

#our-teachers .card .card-img-top:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .7s;
  transition: all .7s;
}

#our-teachers .card .card-img-top img {
  width: 100%;
  height: 100%;
}

#our-teachers .card .card-img-top .social {
  width: 255px;
  text-align: center;
  position: absolute;
  top: 255px;
  display: block;
}

#our-teachers .card .card-img-top .social ul {
  list-style: none;
  padding: 0;
}

#our-teachers .card .card-img-top .social ul li {
  display: inline-block;
  margin: 0 10px;
}

#our-teachers .card .card-img-top .social ul li a {
  text-decoration: none;
  color: white;
}

#our-teachers .card .card-img-top .social ul li a:hover {
  color: #DF9C00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#our-teachers .card .card-body {
  height: 100px;
}

#our-teachers .card .card-body a {
  text-decoration: none;
  font-weight: 500;
  color: black;
  font-size: 22px;
}

#our-teachers .card .card-body a:hover {
  color: #DF9C00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#our-teachers .card .card-body p {
  color: #8c8d8d;
  margin-top: 7px;
}
/*# sourceMappingURL=style.css.map */