body {
  height: 2000px;
}

.carousel-item {
  height: 100vh;
  background-size: cover;
  position: relative;
}

.carousel-item .carousel-caption {
  position: absolute;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  top: 300px;
}

.carousel-item .carousel-caption h2 {
  font-size: 3.7rem;
}

.carousel-item .carousel-caption p {
  font-size: 18px;
  letter-spacing: 1.2px;
  margin: 10px;
}

.carousel-item .btn-outline-secondary {
  border-color: white;
  position: relative;
  color: #DF9C00;
  border-radius: 4px;
  margin-top: -6px;
  overflow: hidden;
  padding: 12px 30px;
  margin: 20px;
}

.carousel-item .btn-outline-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, white 50%, transparent 50%);
  z-index: -1;
  background-size: 300%;
  background-position: 100%;
  -webkit-transition: 1s, font-size 0.2s;
  transition: 1s, font-size 0.2s;
}

.carousel-item .btn-outline-secondary:hover::before {
  background-position: 0;
  color: #DF9C00;
  font-size: 1.1em;
}

.carousel-item .btn-warning {
  color: #DF9C00;
  border-radius: 4px;
  margin-top: -1px;
  margin-left: 10px;
  overflow: hidden;
  padding: 10px 30px;
}

.carousel-item .btn-warning:hover {
  background-color: #DF9C00;
  border-color: #DF9C00;
  overflow: hidden;
  color: #fff;
}

.carousel-item .btn-warning::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  overflow: hidden;
  width: 2em;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.carousel-item .btn-warning:hover::before {
  overflow: hidden;
  -webkit-transform: skewX(-45deg) translateX(30em);
  transform: skewX(-45deg) translateX(30em);
}

.carousel-item .btn-warning {
  color: white;
  position: relative;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.row {
  max-width: 100%;
}

#getOff {
  color: #FFFFFF;
  background-color: #F5576C;
  padding: 1px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

#getOff p {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

#getOff p #border {
  color: #FFFFFF;
  text-decoration: none;
  text-decoration: underline;
}

#getOff .fa-times {
  font-size: 16px;
  color: #d5b8b6;
  margin-left: 9px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#getOff .fa-times:hover {
  color: #FCD5DA;
}

#applyNow {
  overflow-x: hidden;
  max-width: 100%;
  background-color: #343A40;
  padding: 10px 0px;
}

#applyNow .info {
  display: inline-block;
  margin: 10px 190px;
}

#applyNow .info a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#applyNow .info a:hover {
  color: #DF9C00;
}

#applyNow .icons {
  display: inline-block;
}

#applyNow .icons a {
  color: #FFFFFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#applyNow .icons a:hover {
  color: #DF9C00;
}

#applyNow .btn {
  color: #DF9C00;
  border-radius: 4px;
  margin-top: -6px;
  margin-left: 10px;
  overflow: hidden;
}

#applyNow .btn:hover {
  background-color: #DF9C00;
  border-color: #DF9C00;
  overflow: hidden;
  color: #fff;
}

#applyNow .btn::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  overflow: hidden;
  width: 2em;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#applyNow .btn:hover::before {
  overflow: hidden;
  -webkit-transform: skewX(-45deg) translateX(30em);
  transform: skewX(-45deg) translateX(30em);
}

#applyNow .btn-warning {
  color: white;
  position: relative;
}

#applyNow p {
  display: inline-block;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

#applyNow p:hover {
  color: #DF9C00;
}

#applyNow #apply {
  position: relative;
  top: 10px;
  left: 257px;
}

#applyNow .fas::before {
  margin: 0px 5px;
}

#applyNow .far::before {
  margin: 0px 5px;
}

#applyNow .fab::before {
  margin: 0px 5px;
}

#eduGlobal {
  padding: 10px;
}

#eduGlobal #dropdownMenuLink {
  font-weight: 400;
  color: black;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#eduGlobal #dropdownMenuLink:hover {
  color: #DF9C00;
}

#eduGlobal .nav-link {
  display: inline-block;
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#eduGlobal .nav-link:hover {
  color: #DF9C00;
}

#eduGlobal .fa-search {
  color: black;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#eduGlobal .fa-search:hover {
  color: #DF9C00;
}
/*# sourceMappingURL=style.css.map */