.our{
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
  
}
.client_1{
    img{
        width: 0 auto;
    }
  
      
  }
  #client{
    position: relative;
    bottom: 29rem;

  }
