$color-red: #F5576C;
$color-white:#FFFFFF;
$color-grey:#343A40;
$color-yellow:#DF9C00;
$color-green:#b3d36a;
$color-blue:#36D4ED;
$color-pink:#FF69B4;
$color-orange:#ff9131;
$color-text:#d9d9d9;
$font-roboto:'Roboto', sans-serif;
$font-rubik:'Rubik', sans-serif;
